HELP.md
.gradle
build/
.gradle/
.src/resources/static/css/
.src/resources/static/js/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
src/main/resources/static/img/51-image-0-28017477-0365-4a43-b546-008b603da621.jpg
src/main/resources/static/img/51-image-1-636512725318200105.jpg
src/main/resources/static/img/52-image-0.jpg
src/main/resources/static/img/52-image-1.jpg
src/main/resources/static/img/53-image-0.jpg
src/main/resources/static/img/54-image-0.jpg
src/main/resources/static/img/55-image-0.jpg
src/main/resources/static/img/56-image-01.jpg
src/main/resources/static/img/57-image-1.jpg
src/main/resources/static/img/28017477-0365-4a43-b546-008b603da621.jpg
src/main/resources/static/img/636512725318200105.jpg
src/main/resources/static/img/empty-file
