
.modal-content-sign {
  width: 400px;
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

 
#modal-signup .modal-body {
  padding: 60px;
}

.modal-body {
  position: relative;
  padding: 15px;
}

#modal-signup button.close {
  position: absolute;
  top: 30px;
  right: 30px;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

#modal-signup h3 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.m-t-sm {
  margin-top: 10px;
}

.m-t-lg {
  margin-top: 30px;
}

.m-t {
  margin-top: 15px;
}

#modal-signup .form-control {
  height: auto;
  padding: 10px 15px;
  font-size: 16px;
}

.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.form-control {
  display: block;
  width: 95%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#modal-signup .text-left {
  display: inline-block;
  width: 100%;
  margin: 5px 0 20px;
}

.text-left {
  text-align: left;
}

#modal-signup .check {
  display: inline-block;
  position: relative;
  float: right;
}

#modal-signup .check input[type="checkbox"] + label {
  display: inline-block;
  width: auto;
  position: relative;
  margin: 0;
  padding-left: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

.이용약관 {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

#modal-signup .check input[type="checkbox"] + label span {
  display: inline-block;
  padding: 2px 0;
}

#modal-signup .text-info {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  color: #31708f;
  float: left;
}

.autoSign {
  display: inline-block;
  width: 100%;
}

#modal-signup .btn {
  width: 100%;
  height: auto;
  padding: 10px;
  font-size: 16px;
  background: #0074dd !important;
  color: #fff !important;
  border: none;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
    border-radius: 4px;
  }

.btn-block {
  display: block;
  width: 100%;
}

#closeButton { 
  margin-top: 0px;
  width: 6%;
}