/* Styled Table */
/* Styled Table */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-radius: 10px;  /* 라운드 코너 적용 */
  overflow: hidden; /* 라운드 코너를 제대로 보이게 하려면 overflow: hidden; 추가 */
}
  
  .styled-table td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  /* Header Cell Style */
  .header-cell {
    font-weight: normal;
  }
  
  /* Styled Select */
  .styled-select {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  /* Styled Input */
  .styled-input {
    width: calc(33.33% - 6px);
    padding: 8px;
    margin-right: 8px;
    /* margin-bottom: 8px; */
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Radio Group */
  .radio-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .button-container {
    display: flex;
  }
  
  .button-container button {
    margin-right: 5px; /* 원하는 간격 크기로 조절하세요 */
  }
  
  .input_right_text {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 15px;
    margin-left: 5px;
  }
  
  .input-button {
    padding: 8px;
    margin-right: 6px;
    margin-bottom: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  
  