.SearchMain hr {
  border: 0.1px solid #c3c3c3;
}

.MapandList{
  display: flex;
  width: 100%;
}

.SearchMap {
  flex:1;
  height: 1000px;
  background-color: #f0f0f0; /* 예시로 배경색을 지정합니다. */
}

.SearchList {
  overflow-y: auto;
  overflow-x: hidden;
  width: 20%;
  height: 1000px;
  /* padding: 10px; */
  /* background-color: #e0e0e0; */
}
.productBox{
  padding: 5px;
  display: flex;
  width: 100%;
  height: 15%;
  border-bottom: 0.1px solid #919191;
}
.productBox:hover{
  background-color: #f4f4f4;
  cursor: pointer;
}
.product_id_box{
  border: 1px solid #cbcbcb;
  width: 100px;
  height: 20px;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}
.productWord{
  padding: 10px;
}
.product_type{
  display: flex;
}
.ImgOne{
  width: 200px;
  height: 150px;
}