.MapandList{
  display: flex;
  width: 100%;
}

.SearchMap {
  flex:1;
  height: 1000px;
  background-color: #f0f0f0; /* 예시로 배경색을 지정합니다. */
}

.SearchList {
  width: 20%;
  height: 1000px;
  padding: 10px;
  background-color: #e0e0e0;
}
.productBox{
  display: flex;
  width: 100%;
  height: 10%;
  border-bottom: 1px solid #646363;
}
.product_type{
  display: flex;
}