.GridList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1%;
  justify-items: center;
}

.GridBox {
  width: 60%;
  max-width: 280px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  margin: 0 10px;
  margin-bottom: 10px;
  background: #fff;
}

.GridproductIMG {
  width: 100%;
}

.GridImgOne {
  width: 100%;
  height: 240px;
}

.GridproductWord {
  padding: 10px;
}

.product_id_box {
  font-weight: bold;
  margin-bottom: 3px;
}

.transaction {
  margin-bottom: 3px;
}

.transaction span {
  margin-right: 5px;
}

h3 {
  margin-top: 3px;
  margin-bottom: 5px;
}

.product_type {
  margin-top: 5px;
}

.product_type span {
  display: block;
  margin-bottom: 3px;
}

.GridBox + .GridBox {
  margin-left: 5px;
}
